<h2>狼人杀</h2>
<div id="room-info">
    <h1>Room ID: <%= roomID %></h1>
</div>
<div id="game-body">
    <div id="chatarea">
        <div id="chatlog">
        
        </div>
        <div id="div-chat-entry">
            <input type="textarea" id="chat-input">
            <button id="chat-submit"/>
        </div>
    </div>
    <div id="player-list">

    </div>
</div>
<input type="hidden" id="roomID"><%= roomID %></input>
<input type="hidden" id="player"><%= player %></input>

<script>
    let chatSubmitButton = document.getElementById("chat-submit");
    chatSubmitButton.addEventListener('click', submitForm, false);

    getChatLog(roomID);
</script>