<!DOCTYPE html>
<html>

<head>
    <title>狼人杀</title>
    <script src="client.js"></script>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div id="contentDiv">
        <h2>狼人杀</h2>
        <div>
            <input type="text" id="name" placeholder="Name">
        </div>
        <div>
            <input type="text" id="room" placeholder="Room ID">
        </div>
        <div>
            <button id="create">Create Room</button>
            <button id="join">Join Room</button>
        </div>
        <script>
            let createButton = document.getElementById('create');
            let joinButton = document.getElementById('join');
            createButton.addEventListener('click', submitForm, false);
            joinButton.addEventListener('click', submitForm, false);
        </script>
    </div>
</body>



</html>
