html, body {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

.mainmenuOuterContainer{
    color: #FFF;
    text-align: center;
}

.mainmenuInnerContainer{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 50px;
}

.con_gameinfo
{
    text-align: left;
    background: #000000;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.con_gamearea
{
    background: #1b2735;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}